---
import HollowKnightLogo from '../../assets/hollow-knight-logo.png'
import Navbar from '../elements/Navbar.astro'
---

<header class="hero">
    <Navbar></Navbar>
    <div class="container">
        <div class="hero__brand">
            <img src={HollowKnightLogo.src} alt="Hollow Knight Logo">
        </div>
        <div class="hero__content">
            <h1>Descend into the Dark</h1>
            <a href="#" class="button">See More</a>
        </div>
    </div>
</header>